<!-- <div class="example-input">
      <input
        placeholder="try to type \`b\`"
        nz-input
        [(ngModel)]="inputValue"
        (ngModelChange)="onChange($event)"
        [nzAutocomplete]="auto"/>
      <nz-autocomplete [nzDataSource]="filteredOptions" #auto></nz-autocomplete>
    </div> -->


<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">×</a>
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
</div>

<div id="main">
    <button class="openbtn" (click)="openNav()">☰ Open Sidebar</button>
    <h2>Collapsed Sidebafasfasdasfasfaifhsfjguidfasgydgtaysdtysdyuatsdyutr</h2>
    <p>Click on the hamburger menu/bar icon to open the sidebar, and push this content to the rightasdasdasdasdasdasdafaf asf asf as .</p>
</div>